 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
 body{
    background-color: #171717;
    font-family: "Playfair Display", serif;
    
}
header h1{
    color:aliceblue
}

nav ul{
    list-style: none;
    gap: 20px;
    display: flex;
}
nav a{
    text-decoration: none;
    color: aliceblue;
}
nav a:hover{
    color: grey;
}
nav a.active{
    border-bottom: 2px solid white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

nav{
    position: static;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
h1{
    color: aliceblue;
    text-align: center;
}

.add-note-btn{
    background-color: #1f1f1f;
    color: aliceblue;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
}

input, textarea{
    background-color: #1f1f1f;
    color: aliceblue;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 10px 15px;
    font-family: "Playfair Display", serif;
    margin: 10px;
}

.note-card{
    background-color: #1f1f1f;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 15px 20px;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3s;
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}
.note-card:hover{
    box-shadow: 0px 0px 15px #716868;
}

.delete-btn{
    position: absolute;
    top: 8px;
    right: 10px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
}
.delete-btn:hover{
    color: #ff6b6b;
}


#noteDialog{
    background-color: #1f1f1f;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 15px 20px;
    margin: auto;
    text-autospace: calc(1.1);
    color: aliceblue;
    transition: all 0.3s;
    width: 250PX;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    justify-content: space-between;

}
.close-btn,.cancle-btn,.save-btn{
    background-color: #1f1f1f;
    color: aliceblue;
    border: 1px solid #ded7e0;
    border-radius: 8px;
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;

}
.close-btn{position: absolute;
    right: 0;
    top: 0;
    margin: 15px 20px;
    width: 30px;
    height: 30px;
}
.cancle-btn:hover,.save-btn:hover{
    box-shadow: 0px 0px 12px #fdfdfd;
}
.close-btn:hover{
    color: #ff4d4d;
    border-color: #ff4d4d;
    box-shadow: 0px 0px 12px #d02525;
    transform: scale(1.1);
}